---

role_name_check: 1

dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: forgejo
    image: "ghcr.io/bodsch/docker-ansible/ansible-${DISTRIBUTION:-debian:12}"
    command: ${MOLECULE_DOCKER_COMMAND:-""}
    docker_host: "${DOCKER_HOST:-unix://run/docker.sock}"
    privileged: true
    pre_build_image: true
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/lib/containerd
    capabilities:
      - SYS_ADMIN
    tmpfs:
      - /run
      - /tmp
    published_ports:
      - 80:80
      - 443:443
      - 3000:3000
    docker_networks:
      - name: forgejo
        ipam_config:
          - subnet: "10.16.0.0/24"
            gateway: "10.16.0.1"
    networks:
      - name: forgejo
        ipv4_address: "10.16.0.11"

  - name: instance
    image: "ghcr.io/bodsch/docker-ansible/ansible-${DISTRIBUTION:-debian:12}"
    command: ${MOLECULE_DOCKER_COMMAND:-""}
    docker_host: "${DOCKER_HOST:-unix://run/docker.sock}"
    privileged: true
    pre_build_image: true
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/lib/containerd
    capabilities:
      - SYS_ADMIN
    tmpfs:
      - /run
      - /tmp
    networks:
      - name: forgejo
        ipv4_address: "10.16.0.10"
    etc_hosts:
      forgejo.molecule.lan: 10.16.0.11

provisioner:
  name: ansible
  ansible_facts.args:
    - --diff
    - -v
  config_options:
    defaults:
      deprecation_warnings: true
      callback_result_format: yaml
      callbacks_enabled: profile_tasks
      gathering: smart
      fact_caching: jsonfile
      fact_caching_timeout: 8640
      fact_caching_connection: ansible_facts

scenario:
  test_sequence:
    - destroy
    - dependency
    - syntax
    - create
    - prepare
    - converge
    - verify
    - destroy

verifier:
  name: testinfra
