{% set values = forgejo_actions | bodsch.core.remove_empty_values %}
{% if values | count > 0 and
      values.enabled | default('false') | bool %}

[actions]
ENABLED = {{ values.enabled | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% if values.default_actions_url is defined and
        values.default_actions_url | string | length > 0 %}
DEFAULT_ACTIONS_URL = {{ values.default_actions_url }}
  {% endif %}
  {% if values.artifact_retention_days is defined and
        values.artifact_retention_days | string | length > 0 %}
ARTIFACT_RETENTION_DAYS = {{ values.artifact_retention_days }}
  {% endif %}
  {% if values.zombie_task_timeout | default('') | string | length > 0 %}
ZOMBIE_TASK_TIMEOUT = {{ values.zombie_task_timeout }}
  {% endif %}
  {% if values.endless_task_timeout | default('') | string | length > 0 %}
ENDLESS_TASK_TIMEOUT = {{ values.endless_task_timeout }}
  {% endif %}
  {% if values.abandoned_job_timeout | default('') | string | length > 0 %}
ABANDONED_JOB_TIMEOUT = {{ values.abandoned_job_timeout }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('9.0', '>=') %}
    {% if values.log_compression | default('') | string | length > 0 and
          values.log_compression in ["none", "zstd"] %}
LOG_COMPRESSION = {{ values.log_compression }}
    {% endif %}
    {% if values.log_retention_days | default('') | string | length > 0 %}
LOG_RETENTION_DAYS = {{ values.log_retention_days }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('1.21', '>=') %}
    {% if values.skip_workflow_strings | default([]) | count > 0 %}
SKIP_WORKFLOW_STRINGS = {{ values.skip_workflow_strings | join(', ') }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('8.0', '>=') %}
    {% if values.limit_dispatch_inputs | default('') | string | length > 0 %}
LIMIT_DISPATCH_INPUTS = {{ values.limit_dispatch_inputs }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
{% endif %}


