{% set values = forgejo_admin | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[admin]
  {% if values.disable_regular_org_creation | default('') | string | length > 0 %}
DISABLE_REGULAR_ORG_CREATION = {{ values.disable_regular_org_creation | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.default_email_notifications | default('') | string | length > 0 and
        values.default_email_notifications in ["enabled", "onmention", "disabled"] %}
DEFAULT_EMAIL_NOTIFICATIONS = {{ values.default_email_notifications }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('1.21', '>=') %}
    {% if values.user_disabled_features | default([]) | count > 0 %}
USER_DISABLED_FEATURES = {{ values.user_disabled_features | join(', ') }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if values.external_user_disable_features is defined and
        values.external_user_disable_features | default([]) | count > 0 %}
EXTERNAL_USER_DISABLE_FEATURES = {{ values.external_user_disable_features | join(', ') }}
  {% endif %}
  {% if values.send_notification_email_on_new_user | default('') | string | length > 0 %}
SEND_NOTIFICATION_EMAIL_ON_NEW_USER = {{ values.send_notification_email_on_new_user | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif %}
