{% set values = forgejo_api | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[api]
  {% if values.enable_swagger | default('') | string | length > 0 %}
ENABLE_SWAGGER = {{ values.enable_swagger | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.max_response_items | default('') | string | length > 0 %}
MAX_RESPONSE_ITEMS = {{ values.max_response_items }}
  {% endif %}
  {% if values.default_paging_num | default('') | string | length > 0 %}
DEFAULT_PAGING_NUM = {{ values.default_paging_num }}
  {% endif %}
  {% if values.default_git_trees_per_page | default('') | string | length > 0 %}
DEFAULT_GIT_TREES_PER_PAGE = {{ values.default_git_trees_per_page }}
  {% endif %}
  {% if values.default_max_blob_size | default('') | string | length > 0 %}
DEFAULT_MAX_BLOB_SIZE = {{ values.default_max_blob_size }}
  {% endif %}
{% endif %}
