{% set values = forgejo_cors | bodsch.core.remove_empty_values %}
{% if values | count > 0 and
      values.enabled | default('false') | bool %}

[cors]
ENABLED = {{ values.enabled | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('1.21.11', '<=') %}
    {% if values.scheme | default('') | string | length > 0 %}
SCHEME = {{ values.scheme }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if values.allow_domain | default([]) | count > 0 %}
;; list of requesting domains that are allowed
ALLOW_DOMAIN = {{ values.allow_domain | join(', ') }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('1.21.11', '<=') %}
    {% if values.allow_subdomain | default('') | string | length > 0 %}
ALLOW_SUBDOMAIN = {{ values.allow_subdomain | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if values.methods | default([]) | count > 0 %}
METHODS =  {{ values.methods | join(', ') }}
  {% endif %}
  {% if values.max_age | default('') | string | length > 0 %}
MAX_AGE = {{ values.max_age }}
  {% endif %}
  {% if values.allow_credentials | default('') | string | length > 0 %}
ALLOW_CREDENTIALS = {{ values.allow_credentials | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.allow_credentials | default('') | string | length > 0 %}
HEADERS = {{ values.headers | join(', ') }}
  {% endif %}
  {% if values.x_frame_options | default('') | string | length > 0 %}
X_FRAME_OPTIONS = {{ values.x_frame_options | join(', ') }}
  {% endif %}
{% endif %}


  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('1.20', '>=') %}

  {% endif %}
  {# ------------------------------------------------------------------------- #}
