{% set values = forgejo_database | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

  {% if values.db_type | default('') | string | length > 0 and
        values.db_type in ["mysql", "postgres", "sqlite3"] %}
[database]
DB_TYPE = {{ values.db_type }}
    {% if values.host | default('') | string | length > 0 %}
HOST = {{ values.host }}
    {% endif %}
    {% if values.name | default('') | string | length > 0 %}
NAME = {{ values.name }}
    {% endif %}
    {% if values.user | default('') | string | length > 0 %}
USER = {{ values.user }}
    {% endif %}
    {% if values.db_type in ["mysql", "postgres", "mssql"] %}
      {% if values.passwd | default('') | string | length > 0 %}
PASSWD = {{ values.passwd }}
      {% endif %}
    {% endif %}
    {# DB specials ... #}
    {# mysql | mariadb #}
    {% if values.db_type == "mysql" %}
      {% if values.ssl_mode | default('') | string | length > 0 and
            values.ssl_mode in ["false", "true", "skip-verify"] %}
        {% if values.ssl_mode != "skip-verify" %}
SSL_MODE = {{ values.ssl_mode | bodsch.core.config_bool(true_as='true', false_as='false') }}
        {% else %}
SSL_MODE = {{ values.ssl_mode }}
        {% endif %}
      {% endif %}
      {# ------------------------------------------------------------------------- #}
      {% if forgejo_version is version_compare('1.21.11', '=<') %}
        {% if values.charset | default('') | string | length > 0 %}
CHARSET = {{ values.charset }}
        {% endif %}
      {% endif %}
      {% if forgejo_version is version_compare('1.20', '>=') %}
        {% if values.slow_query_treshold | default('') | string | length > 0 %}
SLOW_QUERY_TRESHOLD = {{ values.slow_query_treshold }}
        {% endif %}
      {% endif %}
      {% if forgejo_version is version_compare('7.0', '>=') %}
        {% if values.charset_collation | default('') | string | length > 0 %}
CHARSET_COLLATION = {{ values.charset_collation }}
        {% endif %}
      {% endif %}
      {# ------------------------------------------------------------------------- #}
    {% endif %}
    {# postgres #}
    {% if values.db_type == "postgres" %}
      {% if values.ssl_mode | default('') | string | length > 0 and
            values.ssl_mode in ["disable", "require", "verify-full"] %}
SSL_MODE = {{ values.ssl_mode }}
      {% endif %}
      {% if values.schema | default('') | string | length > 0 %}
SCHEMA = {{ values.schema }}
      {% endif %}
    {% endif %}
    {# sqlite #}
    {% if values.db_type == "sqlite3" %}
      {% if values.path | default('') | string | length > 0 %}
PATH = {{ values.path }}
      {% endif %}
      {% if values.sqlite_timeout | default('') | string | length > 0 %}
SQLITE_TIMEOUT = {{ values.sqlite_timeout }}
      {% if values.sqlite_journal_mode | default('') | string | length > 0 %}
      {% endif %}
SQLITE_JOURNAL_MODE = {{ values.sqlite_journal_mode }}
      {% endif %}
    {% endif %}
    {% if values.iterate_buffer_size | default('') | string | length > 0 %}
ITERATE_BUFFER_SIZE = {{ values.iterate_buffer_size }}
    {% endif %}
    {% if values.log_sql | default('') | string | length > 0 %}
LOG_SQL = {{ values.log_sql | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
    {% if values.db_retries | default('') | string | length > 0 %}
DB_RETRIES = {{ values.db_retries }}
    {% endif %}
    {% if values.db_retry_backoff | default('') | string | length > 0 %}
DB_RETRY_BACKOFF = {{ values.db_retry_backoff }}
    {% endif %}
    {% if values.max_idle_conns | default('') | string | length > 0 %}
MAX_IDLE_CONNS = {{ values.max_idle_conns }}
    {% endif %}
    {% if values.conn_max_lifetime | default('') | string | length > 0 %}
CONN_MAX_LIFETIME = {{ values.conn_max_lifetime }}
    {% endif %}
    {% if forgejo_version is version_compare('7.0', '>=') %}
      {% if values.conn_max_idletime | default('') | string | length > 0 %}
CONN_MAX_IDLETIME = {{ values.conn_max_idletime }}
      {% endif %}
    {% endif %}
    {% if values.max_open_conns | default('') | string | length > 0 %}
MAX_OPEN_CONNS = {{ values.max_open_conns }}
    {% endif %}
    {% if values.auto_migration | default('') | string | length > 0 %}
AUTO_MIGRATION = {{ values.auto_migration | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
    {% if forgejo_version is version_compare('1.20', '>=') %}
      {% if values.conn_max_idletime | default('') | string | length > 0 %}
CONN_MAX_IDLETIME = {{ values.conn_max_idletime }}
      {% endif %}
      {% if values.slow_query_threshold | default('') | string | length > 0 %}
SLOW_QUERY_THRESHOLD = {{ values.slow_query_threshold }}
      {% endif %}
    {% endif %}
  {% else %}
;; unkown database type
  {% endif %}
{% endif %}
