{% set values = forgejo_email | bodsch.core.remove_empty_values %}
{% if values | count > 0 and
      values.incoming.enabled | default('false') | bool %}

[email.incoming]
ENABLED = {{ values.incoming.enabled | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% if values.incoming.reply_to_address | default('') | string | length > 0 %}
REPLY_TO_ADDRESS = {{ values.incoming.reply_to_address }}
    {% endif %}
    {% if values.incoming.host | default('') | string | length > 0 %}
HOST = {{ values.incoming.host }}
    {% endif %}
    {% if values.incoming.port | default('') | string | length > 0 %}
PORT = {{ values.incoming.port }}
    {% endif %}
    {% if values.incoming.username | default('') | string | length > 0 %}
USERNAME = {{ values.incoming.username }}
    {% endif %}
    {% if values.incoming.password | default('') | string | length > 0 %}
PASSWORD = {{ values.incoming.password }}
    {% endif %}
    {% if values.incoming.use_tls | default('') | string | length > 0 %}
USE_TLS = {{ values.incoming.use_tls | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
    {% if values.incoming.skip_tls_verify | default('') | string | length > 0 %}
SKIP_TLS_VERIFY = {{ values.incoming.skip_tls_verify | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
    {% if values.incoming.mailbox | default('') | string | length > 0 %}
MAILBOX = {{ values.incoming.mailbox }}
    {% endif %}
    {% if values.incoming.delete_handled_message | default('') | string | length > 0 %}
DELETE_HANDLED_MESSAGE = {{ values.incoming.delete_handled_message | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
    {% if values.incoming.maximum_message_size | default('') | string | length > 0 %}
MAXIMUM_MESSAGE_SIZE = {{ values.incoming.maximum_message_size }}
    {% endif %}
{% endif %}
