{% set values = forgejo_federation | bodsch.core.remove_empty_values %}
{% if values | count > 0 and
      values.enabled | default('false') | bool %}

[federation]
ENABLED = {{ values.enabled | default('false') | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% if values.share_user_statistics | default('') | string | length > 0 %}
SHARE_USER_STATISTICS = {{ values.share_user_statistics | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.max_size | default('') | string | length > 0 %}
MAX_SIZE = {{ values.max_size }}
  {% endif %}
  {% if values.algorithms | default([]) | count > 0 %}
ALGORITHMS = {{ values.algorithms | join(', ') }}
  {% endif %}
  {% if values.digest_algorithm | default('') | string | length > 0 %}
DIGEST_ALGORITHM = {{ values.digest_algorithm }}
  {% endif %}
  {% if values.get_headers | default([]) | count > 0 %}
GET_HEADERS = {{ values.get_headers | join(', ') }}
  {% endif %}
  {% if values.post_headers | default([]) | count > 0 %}
POST_HEADERS = {{ values.post_headers | join(', ') }}
  {% endif %}
{% endif %}
