{% set values = forgejo_i18n | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[i18n]
  {% if values.langs | default([]) | count > 0 %}
LANGS = {{ values.langs | join(', ') }}
  {% endif %}
  {% if values.names | default([]) | count > 0 %}
NAMES = {{ values.names | join(', ') }}
  {% endif %}
{% endif %}
