
[i18n]
  {% if forgejo_i18n.langs is defined and
        forgejo_i18n.langs | count > 0 %}
LANGS = {{ forgejo_i18n.langs | join(', ') }}
  {% endif %}
  {% if forgejo_i18n.names is defined and
        forgejo_i18n.names | count > 0 %}
NAMES = {{ forgejo_i18n.names | join(', ') }}
  {% endif %}
