{% set values = forgejo_lfs | bodsch.core.remove_empty_values %}
{% if values.client is defined %}
  {% set _ = values.pop('client') %}
{% endif %}
{% if values | count > 0 %}

[lfs]
  {% if values.storage_type | default('') | string | length > 0 and
        values.storage_type in ["local", "minio"] %}
STORAGE_TYPE = {{ values.storage_type }}
    {% if values.storage_type == "local" %}
      {% if values.path | default('') | string | length > 0 %}
PATH = {{ values.path }}
      {% endif %}
    {% endif %}
    {% if values.storage_type == "minio" %}
      {% if values.minio_base_path | default('') | string | length > 0 %}
MINIO_BASE_PATH = {{ values.minio_base_path }}
      {% endif %}
      {% if values.minio_endpoint | default('') | string | length > 0 %}
MINIO_ENDPOINT = {{ values.minio_endpoint }}
      {% endif %}
      {% if values.minio_access_key_id | default('') | string | length > 0 %}
MINIO_ACCESS_KEY_ID = {{ values.minio_access_key_id }}
      {% endif %}
      {% if values.minio_secret_access_key | default('') | string | length > 0 %}
MINIO_SECRET_ACCESS_KEY = {{ values.minio_secret_access_key }}
      {% endif %}
      {% if values.minio_bucket | default('') | string | length > 0 %}
MINIO_BUCKET = {{ values.minio_bucket }}
      {% endif %}
      {% if values.minio_location | default('') | string | length > 0 %}
MINIO_LOCATION = {{ values.minio_location }}
      {% endif %}
      {% if values.minio_use_ssl | default('') | string | length > 0 %}
MINIO_USE_SSL = {{ values.minio_use_ssl | bool | ternary('true', 'false') }}
      {% endif %}
      {% if values.minio_insecure_skip_verify | default('') | string | length > 0 %}
MINIO_INSECURE_SKIP_VERIFY = {{ values.minio_insecure_skip_verify | bool | ternary('true', 'false') }}
      {% endif %}
      {% if values.minio_checksum_algorithm | default('') | string | length > 0 and
            values.minio_checksum_algorithm in ["default", "md5"] %}
MINIO_CHECKSUM_ALGORITHM = {{ values.minio_checksum_algorithm }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% if forgejo_version is version_compare('11.0', '>=') %}
  {% set values = forgejo_lfs.client | bodsch.core.remove_empty_values %}
  {% if values | count > 0 %}

[lfs_client]
    {% if values.batch_size | default('') | string | length > 0 %}
BATCH_SIZE = 20
    {% endif %}
    {% if values.batch_operation_concurrency | default('') | string | length > 0 %}
BATCH_OPERATION_CONCURRENCY = 8
    {% endif %}
  {% endif %}
{% endif %}
