{% set values = forgejo_log | bodsch.core.remove_empty_values %}
{% set _ = values.pop("log_writer") %}
{% if values | count > 0 %}

[log]
  {% if values.root_path | default('') | string | length > 0 %}
ROOT_PATH = {{ values.root_path }}
  {% endif %}
; {{ values.mode | default([]) }}
  {% if values.mode | bodsch.core.type == "string" %}
    {% set _mode = [values.mode] %}
  {% elif values.mode | bodsch.core.type == "list" %}
    {% set _mode = values.mode %}
  {% endif %}
  {% if _mode | default([]) | count > 0 %}
     {% set valid_log_mode = ["console", "file", "file-error", "conn"] %}
     {% set log_mode = _mode | bodsch.core.compare_list(compare_to_list=valid_log_mode) %}
MODE = {{ log_mode | join(', ') }}
  {% endif %}
  {% if values.level | default('') | string | length > 0 and
        values.level | lower in ["trace", "debug", "info", "warn", "error", "critical", "none"] %}
LEVEL = {{ values.level }}
  {% endif %}
  {% if values.access_log_template | default('') | string | length > 0 %}
  {#
    {{.Ctx.RemoteAddr}} - {{.Identity}} {{.Start.Format "[02/Jan/2006:15:04:05 -0700]" }} "{{.Ctx.Req.Method}} {{.Ctx.Req.URL.RequestURI}} {{.Ctx.Req.Proto}}" {{.ResponseWriter.Status}} {{.ResponseWriter.Size}} "{{.Ctx.Req.Referer}}\" \"{{.Ctx.Req.UserAgent}}"
  #}
ACCESS_LOG_TEMPLATE = {{ values.access_log_template }}
  {% endif %}
  {% if values.enable_ssh_log | default('') | string | length > 0 %}
ENABLE_SSH_LOG = {{ values.enable_ssh_log | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.stacktrace_level | default('') | string | length > 0 and
        values.stacktrace_level | lower in ["trace", "debug", "info", "warn", "error", "critical", "none"] %}
STACKTRACE_LEVEL = {{ values.stacktrace_level }}
  {% endif %}
  {% if values.buffer_len | default('') | string | length > 0 %}
BUFFER_LEN = {{ values.buffer_len }}
  {% endif %}
  {% if values.request_id_headers | default([]) | count > 0 %}
REQUEST_ID_HEADERS = {{ values.request_id_headers | join(', ') }}
  {% endif %}
{% endif %}
{# ---------------------------------------------------------- #}
{% set values = forgejo_log.log_writer | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}
; {{ values }}
{#
  Setting a comma (,) to sub-logger’s mode means making it use the default global MODE.
#}
{# List of log outputs to use for the default logger. #}
; logger.default.MODE =
{# List of log outputs to use for the Router logger. #}
; logger.router.MODE  =
{# List of log outputs to use for the XORM logger. #}
; logger.xorm.MODE    =
{# List of log outputs to use for the Access logger. By default, the access logger is disabled. #}
; logger.access.MODE  =

  {% set sub_logger = values | bodsch.scm.sub_logger() %}
; {{ sub_logger }}
  {% for logger in sub_logger %}
    {% set logger_data = values | bodsch.scm.sub_logger_data(logger) %}
; -> {{ logger_data }}
    {% set _ = logger_data.pop("name") %}
[log.{{ logger }}]
    {% for k, v in logger_data.items() %}
      {% if v | bodsch.core.type == "bool" %}
{{ k | upper }} = {{ v | bodsch.core.config_bool(true_as='true', false_as='false') }}
      {% else %}
{{ k | upper }} = {{ v }}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
