{% set values = forgejo_mailer | bodsch.core.remove_empty_values %}
{% set _ = values.pop("override_header") %}
{% if values | count > 0 and values.enabled | default('false') | bool %}

[mailer]
ENABLED = {{ values.enabled | default('false') | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% if values.send_buffer_len | default('') | string | length > 0 %}
SEND_BUFFER_LEN = {{ values.send_buffer_len }}
  {% endif %}
  {% if values.protocol | default('') | string | length > 0 and
        values.protocol in ["smtp", "smtps", "smtp+starttls", "smtp+unix", "sendmail", "dummy"] %}
PROTOCOL = {{ values.protocol }}
  {% endif %}
  {% if values.smtp_addr | default('') | string | length > 0 %}
SMTP_ADDR = {{ values.smtp_addr }}
  {% endif %}
  {% if values.smtp_port | default('') | string | length > 0 %}
SMTP_PORT = {{ values.smtp_port }}
  {% endif %}
  {% if values.enable_helo | default('') | string | length > 0 %}
ENABLE_HELO = {{ values.enable_helo | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.helo_hostname | default('') | string | length > 0 %}
HELO_HOSTNAME = {{ values.helo_hostname }}
  {% endif %}
  {% if values.force_trust_server_cert | default('') | string | length > 0 %}
FORCE_TRUST_SERVER_CERT = {{ values.force_trust_server_cert | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.use_client_cert | default('') | string | length > 0 %}
USE_CLIENT_CERT = {{ values.use_client_cert | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.client_cert_file | default('') | string | length > 0 %}
CLIENT_CERT_FILE = {{ values.client_cert_file }}
  {% endif %}
  {% if values.client_key_file | default('') | string | length > 0 %}
CLIENT_KEY_FILE = {{ values.client_key_file }}
  {% endif %}
  {% if values.from | default('') | string | length > 0 %}
FROM = {{ values.from }}
  {% endif %}
  {% if values.envelop_from | default('') | string | length > 0 %}
ENVELOPE_FROM = {{ values.envelop_from }}
  {% endif %}
  {% if values.user | default('') | string | length > 0 %}
USER = {{ values.user }}
  {% endif %}
  {% if values.passwd | default('') | string | length > 0 %}
PASSWD = {{ values.passwd }}
  {% endif %}
  {% if values.send_as_plain_text | default('') | string | length > 0 %}
SEND_AS_PLAIN_TEXT = {{ values.send_as_plain_text | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.sendmail_path | default('') | string | length > 0 %}
SENDMAIL_PATH = {{ values.sendmail_path }}
  {% endif %}
  {% if values.sendmail_args | default('') | string | length > 0 %}
SENDMAIL_ARGS = {{ values.sendmail_args }}
  {% endif %}
  {% if values.sendmail_timeout | default('') | string | length > 0 %}
SENDMAIL_TIMEOUT = {{ values.sendmail_timeout }}
  {% endif %}
  {% if values.sendmail_convert_crlf | default('') | string | length > 0 %}
SENDMAIL_CONVERT_CRLF = {{ values.sendmail_convert_crlf | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('9.0', '>=') %}
    {% if values.from_display_name_format | default('') | string | length > 0 %}
FROM_DISPLAY_NAME_FORMAT = {{ values.from_display_name_format }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% if forgejo_version is version_compare('8.0', '>=') %}
  {% set values = forgejo_mailer.override_header | bodsch.core.remove_empty_values %}
  {% if values | count > 0 %}

[mailer.override_header]
    {% if values.reply_to | default([]) | count > 0 %}
Reply-To = {{ values.reply_to | join(', ') }}
    {% endif %}
    {% if values.content_type | default([]) | count > 0 %}
Content-Type = {{ values.content_type | join('; ') }}
    {% endif %}
    {% if values.in_reply_to | default([]) | count > 0 %}
In-Reply-To = {{ values.in_reply_to | join(', ') }}
    {% endif %}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
