{% set values = forgejo_markdown | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[markdown]
  {% if forgejo_markdown.enable_hard_line_break_in_comments | default('') | string | length > 0 %}
ENABLE_HARD_LINE_BREAK_IN_COMMENTS = {{ forgejo_markdown.enable_hard_line_break_in_comments | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_markdown.enable_hard_line_break_in_documents | default('') | string | length > 0 %}
ENABLE_HARD_LINE_BREAK_IN_DOCUMENTS = {{ forgejo_markdown.enable_hard_line_break_in_documents | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_markdown.custom_url_schemes | count > 0 %}
CUSTOM_URL_SCHEMES = {{ forgejo_markdown.custom_url_schemes | join(', ') }}
  {% endif %}
  {% if forgejo_markdown.file_extensions | count > 0 %}
FILE_EXTENSIONS = {{ forgejo_markdown.file_extensions | join(', ') }}
  {% endif %}
  {% if forgejo_markdown.enable_math | default('') | string | length > 0 %}
ENABLE_MATH = {{ forgejo_markdown.enable_math | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif %}
