{% set values = forgejo_markdown | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[markdown]
  {% if values.enable_hard_line_break_in_comments | default('') | string | length > 0 %}
ENABLE_HARD_LINE_BREAK_IN_COMMENTS = {{ values.enable_hard_line_break_in_comments | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.enable_hard_line_break_in_documents | default('') | string | length > 0 %}
ENABLE_HARD_LINE_BREAK_IN_DOCUMENTS = {{ values.enable_hard_line_break_in_documents | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.custom_url_schemes | default([]) | count > 0 %}
CUSTOM_URL_SCHEMES = {{ values.custom_url_schemes | join(', ') }}
  {% endif %}
  {% if values.file_extensions | default([]) | count > 0 %}
FILE_EXTENSIONS = {{ values.file_extensions | join(', ') }}
  {% endif %}
  {% if values.enable_math | default('') | string | length > 0 %}
ENABLE_MATH = {{ values.enable_math | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif %}
