{% set values = forgejo_metrics | bodsch.core.remove_empty_values %}
{% if values | count > 0 and values.enabled | default('false') | bool %}

[metrics]
ENABLED = {{ values.enabled | default('false') | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% if values.token | default('') | string | length > 0 %}
;; If you want to add authorization, specify a token here
TOKEN = {{ values.token }}
  {% endif %}
  {% if values.enabled_issue_by_label | default('') | string | length > 0 %}
ENABLED_ISSUE_BY_LABEL = {{ values.enabled_issue_by_label | default('false') | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.enabled_issue_by_repository | default('') | string | length > 0 %}
ENABLED_ISSUE_BY_REPOSITORY = {{ values.enabled_issue_by_repository | default('false') | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif %}
