
[migrations]
  {% if forgejo_migrations.max_attempts | default('') | string | length > 0 %}
MAX_ATTEMPTS = {{ forgejo_migrations.max_attempts }}
  {% endif %}
  {% if forgejo_migrations.retry_backoff | default('') | string | length > 0 %}
RETRY_BACKOFF = {{ forgejo_migrations.retry_backoff }}
  {% endif %}
  {% if forgejo_migrations.allowed_domains | count > 0 %}
ALLOWED_DOMAINS = {{ forgejo_migrations.allowed_domains | join(', ') }}
  {% endif %}
  {% if forgejo_migrations.blocked_domains | count > 0 %}
BLOCKED_DOMAINS = {{ forgejo_migrations.blocked_domains | join(', ') }}
  {% endif %}
  {% if forgejo_migrations.allow_localnetworks | default('') | string | length > 0 %}
ALLOW_LOCALNETWORKS = {{ forgejo_migrations.allow_localnetworks | default('false') | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
