{% set values = forgejo_oauth2_client | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[oauth2_client]
  {% if values.register_email_confirm | default('') | string | length > 0 %}
REGISTER_EMAIL_CONFIRM = {{ values.register_email_confirm }}
  {% endif %}
  {% if values.openid_connect_scopes | default('') | string | length > 0 %}
OPENID_CONNECT_SCOPES = {{ values.openid_connect_scopes }}
  {% endif %}
  {% if values.enable_auto_registration | default('') | string | length > 0 %}
ENABLE_AUTO_REGISTRATION = {{ values.enable_auto_registration | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.username | default('') | string | length > 0 and
        values.username in ["userid", "nickname", "email"] %}
USERNAME = {{ values.username }}
  {% endif %}
  {% if values.update_avatar | default('') | string | length > 0 %}
UPDATE_AVATAR = {{ values.update_avatar | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.account_linking | default('') | string | length > 0 and
        values.account_linking in ["disabled", "login", "auto"] %}
ACCOUNT_LINKING = {{ values.account_linking }}
  {% endif %}
{% endif %}
