{% set values = forgejo_other | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[other]
  {% if forgejo_other.show_footer_branding | default('') | string | length > 0 %}
SHOW_FOOTER_BRANDING = {{ forgejo_other.show_footer_branding | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_other.show_footer_version | default('') | string | length > 0 %}
SHOW_FOOTER_VERSION = {{ forgejo_other.show_footer_version | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_other.show_footer_template_load_time | default('') | string | length > 0 %}
SHOW_FOOTER_TEMPLATE_LOAD_TIME = {{ forgejo_other.show_footer_template_load_time | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_other.enable_sitemap | default('') | string | length > 0 %}
ENABLE_SITEMAP = {{ forgejo_other.enable_sitemap | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_other.enable_feed | default('') | string | length > 0 %}
ENABLE_FEED = {{ forgejo_other.enable_feed | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif %}
