{% set values = forgejo_packages | bodsch.core.remove_empty_values %}
{% if values | count > 0 and values.enabled | default('false') | bool %}

[packages]
ENABLED = {{ values.enabled | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% if values.storage_type | default('') | string | length > 0 and
        values.storage_type in ["local", "minio"] %}
STORAGE_TYPE = {{ values.storage_type }}
  {% endif %}
  {% if values.minio_base_path | default('') | string | length > 0 and
        values.storage_type | default('') == "minio" %}
MINIO_BASE_PATH = {{ values.minio_base_path }}
  {% endif %}
  {% if values.chunked_upload_path | default('') | string | length > 0 %}
CHUNKED_UPLOAD_PATH = {{ values.chunked_upload_path }}
  {% endif %}
  {% if values.limit_total_owner_count | default('') | string | length > 0 %}
LIMIT_TOTAL_OWNER_COUNT = {{ values.limit_total_owner_count }}
  {% endif %}
  {% if values.limit_total_owner_size | default('') | string | length > 0 %}
LIMIT_TOTAL_OWNER_SIZE = {{ values.limit_total_owner_size }}
  {% endif %}
  {% if values.limit_size_cargo | default('') | string | length > 0 %}
LIMIT_SIZE_CARGO = {{ values.limit_size_cargo }}
  {% endif %}
  {% if values.limit_size_chef | default('') | string | length > 0 %}
LIMIT_SIZE_CHEF = {{ values.limit_size_chef }}
  {% endif %}
  {% if values.limit_size_composer | default('') | string | length > 0 %}
LIMIT_SIZE_COMPOSER = {{ values.limit_size_composer }}
  {% endif %}
  {% if values.limit_size_conan | default('') | string | length > 0 %}
LIMIT_SIZE_CONAN = {{ values.limit_size_conan }}
  {% endif %}
  {% if values.limit_size_conda | default('') | string | length > 0 %}
LIMIT_SIZE_CONDA = {{ values.limit_size_conda }}
  {% endif %}
  {% if values.limit_size_container | default('') | string | length > 0 %}
LIMIT_SIZE_CONTAINER = {{ values.limit_size_container }}
  {% endif %}
  {% if values.limit_size_generic | default('') | string | length > 0 %}
LIMIT_SIZE_GENERIC = {{ values.limit_size_generic }}
  {% endif %}
  {% if values.limit_size_helm | default('') | string | length > 0 %}
LIMIT_SIZE_HELM = {{ values.limit_size_helm }}
  {% endif %}
  {% if values.limit_size_maven | default('') | string | length > 0 %}
LIMIT_SIZE_MAVEN = {{ values.limit_size_maven }}
  {% endif %}
  {% if values.limit_size_npm | default('') | string | length > 0 %}
LIMIT_SIZE_NPM = {{ values.limit_size_npm }}
  {% endif %}
  {% if values.limit_size_nuget | default('') | string | length > 0 %}
LIMIT_SIZE_NUGET = {{ values.limit_size_nuget }}
  {% endif %}
  {% if values.limit_size_pub | default('') | string | length > 0 %}
LIMIT_SIZE_PUB = {{ values.limit_size_pub }}
  {% endif %}
  {% if values.limit_size_pypi | default('') | string | length > 0 %}
LIMIT_SIZE_PYPI = {{ values.limit_size_pypi }}
  {% endif %}
  {% if values.limit_size_rubygems | default('') | string | length > 0 %}
LIMIT_SIZE_RUBYGEMS = {{ values.limit_size_rubygems }}
  {% endif %}
  {% if values.limit_size_swift | default('') | string | length > 0 %}
LIMIT_SIZE_SWIFT = {{ values.limit_size_swift }}
  {% endif %}
  {% if values.limit_size_vagrant | default('') | string | length > 0 %}
LIMIT_SIZE_VAGRANT = {{ values.limit_size_vagrant }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('9.0', '>=') %}
    {% if values.default_rpm_sign_enabled | default('') | string | length > 0 %}
DEFAULT_RPM_SIGN_ENABLED = {{ values.default_rpm_sign_enabled }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
{% endif %}
