{% set values = forgejo_picture | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[picture]
  {% if forgejo_version is version_compare('1.21', '<') %}
    {% if values.avatar_upload_path | default('') | string | length > 0 %}
AVATAR_UPLOAD_PATH = {{ values.avatar_upload_path }}
    {% endif %}
    {% if values.repository_avatar_upload_path | default('') | string | length > 0 %}
REPOSITORY_AVATAR_UPLOAD_PATH = {{ values.repository_avatar_upload_path }}
    {% endif %}
  {% endif %}
  {% if values.repository_avatar_fallback | default('') | string | length > 0 and
        values.repository_avatar_fallback in ["none", "random", "image"]    %}
REPOSITORY_AVATAR_FALLBACK = {{ values.repository_avatar_fallback }}
  {% endif %}
  {% if values.repository_avatar_fallback_image | default('') | string | length > 0 %}
REPOSITORY_AVATAR_FALLBACK_IMAGE = {{ values.repository_avatar_fallback_image }}
  {% endif %}
  {% if values.avatar_max_width | default('') | string | length > 0 %}
AVATAR_MAX_WIDTH = {{ values.avatar_max_width }}
  {% endif %}
  {% if values.avatar_max_height | default('') | string | length > 0 %}
AVATAR_MAX_HEIGHT = {{ values.avatar_max_height }}
  {% endif %}
  {% if values.avatar_rendered_size_factor | default('') | string | length > 0 %}
AVATAR_RENDERED_SIZE_FACTOR = {{ values.avatar_rendered_size_factor }}
  {% endif %}
  {% if values.avatar_max_file_size | default('') | string | length > 0 %}
AVATAR_MAX_FILE_SIZE = {{ values.avatar_max_file_size }}
  {% endif %}
  {% if values.gravatar_source | default('') | string | length > 0 %}
GRAVATAR_SOURCE = {{ values.gravatar_source }}
  {% endif %}
  {% if values.disable_gravatar | default('') | string | length > 0 %}
DISABLE_GRAVATAR = {{ values.disable_gravatar | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.enable_federated_avatar | default('') | string | length > 0 %}
ENABLE_FEDERATED_AVATAR = {{ values.enable_federated_avatar | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif %}
