{% set values = forgejo_project | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[project]
  {% if values.project_board_basic_kanban_type | default([]) | count > 0 %}
PROJECT_BOARD_BASIC_KANBAN_TYPE = {{ values.project_board_basic_kanban_type | join(', ') }}
  {% endif %}
  {% if values.project_board_bug_triage_type | default([]) | count > 0 %}
PROJECT_BOARD_BUG_TRIAGE_TYPE = {{ values.project_board_bug_triage_type | join(', ') }}
  {% endif %}
{% endif %}
