{% set values = forgejo_server | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[server]
  {% if forgejo_server.protocol | default('') | string | length > 0 and
        forgejo_server.protocol in  ["http", "https", "http+unix", "fcgi", "fcgi+unix"] %}
PROTOCOL = {{ forgejo_server.protocol }}
  {% endif %}
  {% if forgejo_server.use_proxy_protocol | default('') | string | length > 0 %}
USE_PROXY_PROTOCOL = {{ forgejo_server.use_proxy_protocol | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.proxy_protocol_tls_bridging | default('') | string | length > 0 %}
PROXY_PROTOCOL_TLS_BRIDGING = {{ forgejo_server.proxy_protocol_tls_bridging | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.proxy_protocol_header_timeout | default('') | string | length > 0 %}
PROXY_PROTOCOL_HEADER_TIMEOUT = {{ forgejo_server.proxy_protocol_header_timeout }}
  {% endif %}
  {% if forgejo_server.proxy_protocol_accept_unknown | default('') | string | length > 0 %}
PROXY_PROTOCOL_ACCEPT_UNKNOWN = {{ forgejo_server.proxy_protocol_accept_unknown | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.domain | default('') | string | length > 0 %}
DOMAIN = {{ forgejo_server.domain }}
  {% endif %}
  {% if forgejo_server.root_url | default('') | string | length > 0 %}
ROOT_URL = {{ forgejo_server.root_url }}
  {% endif %}
  {% if forgejo_server.static_url_prefix | default('') | string | length > 0 %}
STATIC_URL_PREFIX = {{ forgejo_server.static_url_prefix }}
  {% endif %}
  {% if forgejo_server.http_addr | default('') | string | length > 0 %}
HTTP_ADDR = {{ forgejo_server.http_addr }}
  {% endif %}
  {% if forgejo_server.http_port | default('') | string | length > 0 %}
HTTP_PORT = {{ forgejo_server.http_port }}
  {% endif %}
  {% if forgejo_server.redirect_other_port | default('') | string | length > 0 %}
REDIRECT_OTHER_PORT = {{ forgejo_server.redirect_other_port | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% if forgejo_server.port_to_redirect | default('') | string | length > 0 %}
PORT_TO_REDIRECT = 80
    {% endif %}
  {% endif %}
  {% if forgejo_server.redirector_use_proxy_protocol | default('') | string | length > 0 %}
REDIRECTOR_USE_PROXY_PROTOCOL = {{ forgejo_server.redirector_use_proxy_protocol }}
  {% endif %}
  {% if forgejo_server.ssl_min_version | default('') | string | length > 0 %}
SSL_MIN_VERSION = {{ forgejo_server.ssl_min_version }}
  {% endif %}
  {% if forgejo_server.ssl_max_version | default('') | string | length > 0 %}
SSL_MAX_VERSION = {{ forgejo_server.ssl_max_version }}
  {% endif %}
  {% if forgejo_server.ssl_curve_preferences | count > 0 %}
SSL_CURVE_PREFERENCES = {{ forgejo_server.ssl_curve_preferences | join(', ') }}
  {% endif %}
  {% if forgejo_server.ssl_cipher_suites | count > 0 %}
SSL_CIPHER_SUITES =  {{ forgejo_server.ssl_cipher_suites | join(', ') }}
  {% endif %}
  {% if forgejo_server.per_write_timeout | default('') | string | length > 0 %}
PER_WRITE_TIMEOUT = {{ forgejo_server.per_write_timeout }}
  {% endif %}
  {% if forgejo_server.per_write_per_kb_timeout | default('') | string | length > 0 %}
PER_WRITE_PER_KB_TIMEOUT = {{ forgejo_server.per_write_per_kb_timeout }}
  {% endif %}
  {% if forgejo_server.unix_socket_permission | default('') | string | length > 0 %}
UNIX_SOCKET_PERMISSION = {{ forgejo_server.unix_socket_permission }}
  {% endif %}
  {% if forgejo_server.local_root_url | default('') | string | length > 0 %}
LOCAL_ROOT_URL = {{ forgejo_server.local_root_url }}
  {% endif %}
  {% if forgejo_server.local_use_proxy_protocol | default('') | string | length > 0 %}
LOCAL_USE_PROXY_PROTOCOL = {{ forgejo_server.local_use_proxy_protocol }}
  {% endif %}
  {% if forgejo_server.disable_ssh | default('') | string | length > 0 %}
DISABLE_SSH = {{ forgejo_server.disable_ssh | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.start_ssh_server | default('') | string | length > 0 %}
START_SSH_SERVER = {{ forgejo_server.start_ssh_server | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.ssh_server_use_proxy_protocol | default('') | string | length > 0 %}
SSH_SERVER_USE_PROXY_PROTOCOL = {{ forgejo_server.ssh_server_use_proxy_protocol | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.builtin_ssh_server_user | default('') | string | length > 0 %}
BUILTIN_SSH_SERVER_USER = {{ forgejo_server.builtin_ssh_server_user }}
  {% endif %}
  {% if forgejo_server.ssh_domain | default('') | string | length > 0 %}
SSH_DOMAIN = {{ forgejo_server.ssh_domain }}
  {% endif %}
  {% if forgejo_server.ssh_user | default('') | string | length > 0 %}
SSH_USER = {{ forgejo_server.ssh_user }}
  {% endif %}
  {% if forgejo_server.ssh_listen_host | default('') | string | length > 0 %}
SSH_LISTEN_HOST = {{ forgejo_server.ssh_listen_host }}
  {% endif %}
  {% if forgejo_server.ssh_port | default('') | string | length > 0 %}
SSH_PORT = {{ forgejo_server.ssh_port }}
  {% endif %}
  {% if forgejo_server.ssh_listen_port | default('') | string | length > 0 %}
SSH_LISTEN_PORT = {{ forgejo_server.ssh_listen_port }}
  {% endif %}
  {% if forgejo_server.ssh_root_path | default('') | string | length > 0 %}
SSH_ROOT_PATH = {{ forgejo_server.ssh_root_path }}
  {% endif %}
  {% if forgejo_server.ssh_create_authorized_keys_file | default('') | string | length > 0 %}
SSH_CREATE_AUTHORIZED_KEYS_FILE = {{ forgejo_server.ssh_create_authorized_keys_file | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.ssh_create_authorized_principals_file | default('') | string | length > 0 %}
SSH_CREATE_AUTHORIZED_PRINCIPALS_FILE = {{ forgejo_server.ssh_create_authorized_principals_file | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.ssh_server_ciphers | default([]) | count > 0 %}
SSH_SERVER_CIPHERS = {{ forgejo_server.ssh_server_ciphers | join(', ') }}
  {% endif %}
  {% if forgejo_server.ssh_server_key_exchanges | default([]) | count > 0 %}
SSH_SERVER_KEY_EXCHANGES = {{ forgejo_server.ssh_server_key_exchanges | join(', ') }}
  {% endif %}
  {% if forgejo_server.ssh_server_macs | default([]) | count > 0 %}
SSH_SERVER_MACS = {{ forgejo_server.ssh_server_macs | join(', ') }}
  {% endif %}
  {% if forgejo_server.ssh_server_host_keys | default([]) | count > 0 %}
SSH_SERVER_HOST_KEYS = {{ forgejo_server.ssh_server_host_keys | join(', ') }}
  {% endif %}
  {% if forgejo_server.ssh_key_test_path | default('') | string | length > 0 %}
SSH_KEY_TEST_PATH = {{ forgejo_server.ssh_key_test_path }}
  {% endif %}
  {% if forgejo_server.ssh_keygen_path | default('') | string | length > 0 %}
SSH_KEYGEN_PATH = {{ forgejo_server.ssh_keygen_path }}
  {% endif %}
  {% if forgejo_server.ssh_authorized_keys_backup | default('') | string | length > 0 %}
SSH_AUTHORIZED_KEYS_BACKUP = {{ forgejo_server.ssh_authorized_keys_backup | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.ssh_authorized_principals_allow | default([]) | count > 0 %}
    {% if forgejo_server.ssh_trusted_user_ca_keys is defined and
          forgejo_server.ssh_trusted_user_ca_keys | string | length == 0 %}
      {% set valid_principals = ["off"] %}
    {% else %}
      {% set valid_principals = ["empty", "off", "email", "username", "anything"] %}
      {% set valid_principals = forgejo_server.ssh_authorized_principals_allow | bodsch.core.compare_list(compare_to_list=valid_principals) %}
    {% endif %}
SSH_AUTHORIZED_PRINCIPALS_ALLOW = {{ valid_principals | join(', ') }}
  {% endif %}
  {% if forgejo_server.ssh_authorized_principals_backup | default('') | string | length > 0 %}
SSH_AUTHORIZED_PRINCIPALS_BACKUP = {{ forgejo_server.ssh_authorized_principals_backup | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.ssh_trusted_user_ca_keys | default([]) | count > 0 %}
SSH_TRUSTED_USER_CA_KEYS = {{ forgejo_server.ssh_trusted_user_ca_keys | join(', ') }}
  {% endif %}
  {% if forgejo_server.ssh_trusted_user_ca_keys_filename | default('') | string | length > 0 %}
SSH_TRUSTED_USER_CA_KEYS_FILENAME = {{ forgejo_server.ssh_trusted_user_ca_keys_filename }}
  {% endif %}
  {% if forgejo_server.ssh_expose_anonymous | default('') | string | length > 0 %}
SSH_EXPOSE_ANONYMOUS = {{ forgejo_server.ssh_expose_anonymous | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.ssh_per_write_timeout | default('') | string | length > 0 %}
SSH_PER_WRITE_TIMEOUT = {{ forgejo_server.ssh_per_write_timeout }}
  {% endif %}
  {% if forgejo_server.ssh_per_write_per_kb_timeout | default('') | string | length > 0 %}
SSH_PER_WRITE_PER_KB_TIMEOUT = {{ forgejo_server.ssh_per_write_per_kb_timeout }}
  {% endif %}
  {% if forgejo_server.minimum_key_size_check | default('') | string | length > 0 %}
MINIMUM_KEY_SIZE_CHECK = {{ forgejo_server.minimum_key_size_check | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.offline_mode | default('') | string | length > 0 %}
OFFLINE_MODE = {{ forgejo_server.offline_mode | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.disable_router_log | default('') | string | length > 0 %}
DISABLE_ROUTER_LOG = {{ forgejo_server.disable_router_log | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.enable_acme | default('') | string | length > 0 %}
ENABLE_ACME = {{ forgejo_server.enable_acme | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% if forgejo_server.acme_url | default('') | string | length > 0 %}
ACME_URL = {{ forgejo_server.acme_url }}
    {% endif %}
    {% if forgejo_server.acme_accepttos | default('') | string | length > 0 %}
ACME_ACCEPTTOS = {{ forgejo_server.acme_accepttos | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
    {% if forgejo_server.acme_ca_root | default('') | string | length > 0 %}
ACME_CA_ROOT = {{ forgejo_server.acme_ca_root }}
    {% endif %}
    {% if forgejo_server.acme_email | default('') | string | length > 0 %}
ACME_EMAIL = {{ forgejo_server.acme_email }}
    {% endif %}
    {% if forgejo_server.acme_directory | default('') | string | length > 0 %}
ACME_DIRECTORY = {{ forgejo_server.acme_directory }}
    {% endif %}
  {% endif %}
  {% if forgejo_server.cert_file | default('') | string | length > 0 %}
CERT_FILE = {{ forgejo_server.cert_file }}
  {% endif %}
  {% if forgejo_server.key_file | default('') | string | length > 0 %}
KEY_FILE = {{ forgejo_server.key_file }}
  {% endif %}
  {% if forgejo_server.static_root_path | default('') | string | length > 0 %}
STATIC_ROOT_PATH = {{ forgejo_server.static_root_path }}
  {% endif %}
  {% if forgejo_server.app_data_path | default('') | string | length > 0 %}
APP_DATA_PATH = {{ forgejo_server.app_data_path }}
  {% endif %}
  {% if forgejo_server.enable_gzip | default('') | string | length > 0 %}
ENABLE_GZIP = {{ forgejo_server.enable_gzip | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.enable_pprof | default('') | string | length > 0 %}
ENABLE_PPROF = {{ forgejo_server.enable_pprof | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.pprof_data_path | default('') | string | length > 0 %}
PPROF_DATA_PATH = {{ forgejo_server.pprof_data_path }}
  {% endif %}
  {% if forgejo_server.landing_page | default('') | string | length > 0 and
        forgejo_server.landing_page in ["home", "explore", "organizations", "login"] %}
    {#
        Landing page, can be "home", "explore", "organizations", "login", or any URL such as "/org/repo" or even "https://anotherwebsite.com"
        The "login" choice is not a security measure but just a UI flow change, use REQUIRE_SIGNIN_VIEW to force users to log in.
    #}
LANDING_PAGE = {{ forgejo_server.landing_page }}
  {% endif %}
  {% if forgejo_server.lfs_start_server | default('') | string | length > 0 %}
LFS_START_SERVER = {{ forgejo_server.lfs_start_server | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.lfs_jwt_secret | default('') | string | length > 0 %}
LFS_JWT_SECRET = {{ forgejo_server.lfs_jwt_secret }}
  {% endif %}
  {% if forgejo_server.lfs_http_auth_expiry | default('') | string | length > 0 %}
LFS_HTTP_AUTH_EXPIRY = {{ forgejo_server.lfs_http_auth_expiry }}
  {% endif %}
  {% if forgejo_server.lfs_max_file_size | default('') | string | length > 0 %}
LFS_MAX_FILE_SIZE = {{ forgejo_server.lfs_max_file_size }}
  {% endif %}
  {% if forgejo_server.lfs_locks_paging_num | default('') | string | length > 0 %}
LFS_LOCKS_PAGING_NUM = {{ forgejo_server.lfs_locks_paging_num }}
  {% endif %}
  {% if forgejo_server.allow_graceful_restarts | default('') | string | length > 0 %}
ALLOW_GRACEFUL_RESTARTS = {{ forgejo_server.allow_graceful_restarts | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_server.graceful_hammer_time | default('') | string | length > 0 %}
GRACEFUL_HAMMER_TIME = {{ forgejo_server.graceful_hammer_time }}
  {% endif %}
  {% if forgejo_server.startup_timeout | default('') | string | length > 0 %}
STARTUP_TIMEOUT = {{ forgejo_server.startup_timeout }}
  {% endif %}
  {% if forgejo_server.static_cache_time | default('') | string | length > 0 %}
STATIC_CACHE_TIME = {{ forgejo_server.static_cache_time }}
  {% endif %}
{% endif %}
