{% set values = forgejo_session | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[session]
  {% if values.provider | default('') | string | length > 0 and
        values.provider in ["memory", "file", "redis", "db", "mysql", "couchbase", "memcache", "postgres"] %}
PROVIDER = {{ values.provider }}
  {% endif %}
  {% if values.provider_config | default('') | string | length > 0 and
        values.provider_config != "memory" %}
PROVIDER_CONFIG = {{ values.provider_config }}
  {% endif %}
  {% if values.cookie_name | default('') | string | length > 0 %}
COOKIE_NAME = {{ values.cookie_name }}
  {% endif %}
  {% if values.cookie_secure | default('') | string | length > 0 %}
COOKIE_SECURE = {{ values.cookie_secure | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.gc_interval_time | default('') | string | length > 0 %}
GC_INTERVAL_TIME = {{ values.gc_interval_time }}
  {% endif %}
  {% if values.session_life_time | default('') | string | length > 0 %}
SESSION_LIFE_TIME = {{ values.session_life_time }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('7.0.7', '>=') %}
    {% if values.domain | default('') | string | length > 0 %}
DOMAIN = {{ values.domain }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if values.same_site | default('') | string | length > 0 and
        values.same_site in ["none", "lax", "strict"] %}
SAME_SITE = {{ values.same_site }}
  {% endif %}
{% endif %}
