{% set values = forgejo_storage | bodsch.core.remove_empty_values %}
{% set _ = values.pop("repo_archive") %}
{% set _ = values.pop("packages") %}
{% set _ = values.pop("actions_log") %}
{% set _ = values.pop("actions_artifacts") %}
{% if values.minio is defined %}
  {% set _ = values.pop("minio") %}
{% endif %}
{% if values | count > 0 %}

[storage]
  {% if values.storage_type | default('') | string | length > 0 %}
STORAGE_TYPE = {{ values.storage_type }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{# [storage.repo-archive] #}
{% set values = forgejo_storage.repo_archive | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[storage.repo-archive]
  {% if values.storage_type | default('') | string | length > 0 %}
STORAGE_TYPE = {{ values.storage_type }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_storage.packages | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[storage.packages]
  {% if values.storage_type | default('') | string | length > 0 %}
STORAGE_TYPE = {{ values.storage_type }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_storage.actions_log | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[storage.actions_log]
  {% if values.storage_type | default('') | string | length > 0 %}
STORAGE_TYPE = {{ values.storage_type }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_storage.actions_artifacts | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[storage.actions_artifacts]
  {% if values.storage_type | default('') | string | length > 0 %}
STORAGE_TYPE = {{ values.storage_type }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_storage.minio | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}
  {% for m in values %}
[storage.{{ m.get("name") }}]
STORAGE_TYPE = minio
    {% if m.endpoint | default('') | string | length > 0 %}
MINIO_ENDPOINT = {{ m.endpoint }}
    {% endif %}
    {% if m.access_key_id | default('') | string | length > 0 %}
MINIO_ACCESS_KEY_ID = {{ m.access_key_id }}
    {% endif %}
    {% if m.secret_access_key | default('') | string | length > 0 %}
MINIO_SECRET_ACCESS_KEY = {{ m.secret_access_key }}
    {% endif %}
    {% if m.bucket | default('') | string | length > 0 %}
MINIO_BUCKET = {{ m.bucket }}
    {% endif %}
    {% if m.bucket_lookup | default('') | string | length > 0 %}
MINIO_BUCKET_LOOKUP = {{ m.bucket_lookup }}
    {% endif %}
    {% if m.location | default('') | string | length > 0 %}
MINIO_LOCATION = {{ m.location }}
    {% endif %}
    {% if m.use_ssl | default('') | string | length > 0 %}
MINIO_USE_SSL = {{ m.use_ssl | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
    {% if m.insecure_skip_verify | default('') | string | length > 0 %}
MINIO_INSECURE_SKIP_VERIFY = {{ m.insecure_skip_verify | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
  {% endfor %}
{% endif %}
