{% set values = forgejo_time | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[time]
  {% if values.format | default('') | string | length > 0 %}
FORMAT = {{ values.format }}
  {% endif %}
  {% if values.default_ui_location | default('') | string | length > 0 %}
DEFAULT_UI_LOCATION = {{ values.default_ui_location }}
  {% endif %}
{% endif %}
