{% set values = forgejo_ui | bodsch.core.remove_empty_values %}
{% set _ = values.pop("admin") %}
{% set _ = values.pop("user") %}
{% set _ = values.pop("meta") %}
{% set _ = values.pop("notification") %}
{% set _ = values.pop("svg") %}
{% set _ = values.pop("csv") %}
{% if values | count > 0 %}

[ui]
  {% if values.explore_paging_num | default('') | string | length > 0 %}
EXPLORE_PAGING_NUM = {{ values.explore_paging_num }}
  {% endif %}
  {% if values.issue_paging_num | default('') | string | length > 0 %}
ISSUE_PAGING_NUM = {{ values.issue_paging_num }}
  {% endif %}
  {% if values.feed_max_commit_num | default('') | string | length > 0 %}
FEED_MAX_COMMIT_NUM = {{ values.feed_max_commit_num }}
  {% endif %}
  {% if values.feed_paging_num | default('') | string | length > 0 %}
FEED_PAGING_NUM = {{ values.feed_paging_num }}
  {% endif %}
  {% if values.sitemap_paging_num | default('') | string | length > 0 %}
SITEMAP_PAGING_NUM = {{ values.sitemap_paging_num }}
  {% endif %}
  {% if values.graph_max_commit_num | default('') | string | length > 0 %}
GRAPH_MAX_COMMIT_NUM = {{ values.graph_max_commit_num }}
  {% endif %}
  {% if values.code_comment_lines | default('') | string | length > 0 %}
CODE_COMMENT_LINES = {{ values.code_comment_lines }}
  {% endif %}
  {% if values.theme_color_meta_tag | default('') | string | length > 0 %}
THEME_COLOR_META_TAG = `{{ values.theme_color_meta_tag }}`
  {% endif %}
  {% if values.max_display_file_size | default('') | string | length > 0 %}
MAX_DISPLAY_FILE_SIZE = {{ values.max_display_file_size }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('1.20', '>=') %}
    {% if values.ambiguous_unicode_detection | default('') | string | length > 0 %}
AMBIGUOUS_UNICODE_DETECTION = {{ values.ambiguous_unicode_detection | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if values.show_user_email | default('') | string | length > 0 %}
SHOW_USER_EMAIL = {{ values.show_user_email | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.default_theme | default('') | string | length > 0 %}
DEFAULT_THEME = {{ values.default_theme }}
  {% endif %}
  {% if values.themes | default([]) | count > 0 %}
THEMES = {{ values.themes | join(', ') }}
  {% endif %}
  {% if values.reactions | default([]) | count > 0 %}
REACTIONS = {{ values.reactions | join(', ') }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('1.20', '>=') %}
    {% if values.reaction_max_user_num | default('') | string | length > 0 %}
REACTION_MAX_USER_NUM = {{ values.reaction_max_user_num }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if values.custom_emojis | default([]) | count > 0 %}
CUSTOM_EMOJIS = {{ values.custom_emojis | join(', ') }}
  {% endif %}
  {% if values.default_show_full_name | default('') | string | length > 0 %}
DEFAULT_SHOW_FULL_NAME = {{ values.default_show_full_name | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.search_repo_description | default('') | string | length > 0 %}
SEARCH_REPO_DESCRIPTION = {{ values.search_repo_description | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.use_service_worker | default('') | string | length > 0 %}
USE_SERVICE_WORKER = {{ values.use_service_worker | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.only_show_relevant_repos | default('') | string | length > 0 %}
ONLY_SHOW_RELEVANT_REPOS = {{ values.only_show_relevant_repos | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('7.0', '>=') %}
    {% if values.explore_paging_default_sort | default('') | string | length > 0 and
          values.explore_paging_default_sort in ["recentupdate", "alphabetically", "reverselastlogin", "newest", "oldest"] %}
EXPLORE_PAGING_DEFAULT_SORT = {{ values.explore_paging_default_sort }}
    {% endif %}
    {% if values.preferred_timestamp_tense | default('') | string | length > 0 and
          values.preferred_timestamp_tense in ["absolute", "mixed"] %}
PREFERRED_TIMESTAMP_TENSE =
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('7.0.7', '>=') %}
    {% if values.repo_search_paging_num | default('') | string | length > 0 %}
REPO_SEARCH_PAGING_NUM = {{ values.repo_search_paging_num }}
    {% endif %}
    {% if values.members_paging_num | default('') | string | length > 0 %}
MEMBERS_PAGING_NUM = {{ values.members_paging_num }}
    {% endif %}
    {% if values.packages_paging_num | default('') | string | length > 0 %}
PACKAGES_PAGING_NUM = {{ values.packages_paging_num }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_ui.admin | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[ui.admin]
  {% if values.user_paging_num | default('') | string | length > 0 %}
USER_PAGING_NUM = {{ values.user_paging_num }}
  {% endif %}
  {% if values.repo_paging_num | default('') | string | length > 0 %}
REPO_PAGING_NUM = {{ values.repo_paging_num }}
  {% endif %}
  {% if values.notice_paging_num | default('') | string | length > 0 %}
NOTICE_PAGING_NUM = {{ values.notice_paging_num }}
  {% endif %}
  {% if values.org_paging_num | default('') | string | length > 0 %}
ORG_PAGING_NUM = {{ values.org_paging_num }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_ui.user | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[ui.user]
  {% if values.repo_paging_num | default('') | string | length > 0 %}
REPO_PAGING_NUM = {{ values.repo_paging_num }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_ui.meta | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[ui.meta]
  {% if values.author | default('') | string | length > 0 %}
AUTHOR = {{ values.author }}
  {% endif %}
  {% if values.description | default('') | string | length > 0 %}
DESCRIPTION = {{ values.description }}
  {% endif %}
  {% if values.keywords | default([]) | count > 0 %}
KEYWORDS = {{ values.keywords | join(', ') }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_ui.notification | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[ui.notification]
  {% if values.min_timeout | default('') | string | length > 0 %}
MIN_TIMEOUT = {{ values.min_timeout }}
  {% endif %}
  {% if values.max_timeout | default('') | string | length > 0 %}
MAX_TIMEOUT = {{ values.max_timeout }}
  {% endif %}
  {% if values.timeout_step | default('') | string | length > 0 %}
TIMEOUT_STEP = {{ values.timeout_step }}
  {% endif %}
  {% if values.event_source_update_time | default('') | string | length > 0 %}
EVENT_SOURCE_UPDATE_TIME = {{ values.event_source_update_time }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_ui.svg | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[ui.svg]
  {% if values.enable_render | default('') | string | length > 0 %}
ENABLE_RENDER = {{ values.enable_render | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
{% endif %}
{# ------------------------------------------------------------------------- #}
{% set values = forgejo_ui.csv | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[ui.csv]
  {% if values.max_file_size | default('') | string | length > 0 %}
MAX_FILE_SIZE = {{ values.max_file_size }}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
  {% if forgejo_version is version_compare('8.0', '>=') %}
    {% if values.max_rows | default('') | string | length > 0 %}
MAX_ROWS = {{ values.max_rows }}
    {% endif %}
  {% endif %}
  {# ------------------------------------------------------------------------- #}
{% endif %}
{# ------------------------------------------------------------------------- #}
