{% set values = forgejo_ui | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[ui]
  {% if forgejo_ui.explore_paging_num | default('') | string | length > 0 %}
EXPLORE_PAGING_NUM = {{ forgejo_ui.explore_paging_num }}
  {% endif %}
  {% if forgejo_ui.issue_paging_num | default('') | string | length > 0 %}
ISSUE_PAGING_NUM = {{ forgejo_ui.issue_paging_num }}
  {% endif %}
  {% if forgejo_ui.feed_max_commit_num | default('') | string | length > 0 %}
FEED_MAX_COMMIT_NUM = {{ forgejo_ui.feed_max_commit_num }}
  {% endif %}
  {% if forgejo_ui.feed_paging_num | default('') | string | length > 0 %}
FEED_PAGING_NUM = {{ forgejo_ui.feed_paging_num }}
  {% endif %}
  {% if forgejo_ui.sitemap_paging_num | default('') | string | length > 0 %}
SITEMAP_PAGING_NUM = {{ forgejo_ui.sitemap_paging_num }}
  {% endif %}
  {% if forgejo_ui.graph_max_commit_num | default('') | string | length > 0 %}
GRAPH_MAX_COMMIT_NUM = {{ forgejo_ui.graph_max_commit_num }}
  {% endif %}
  {% if forgejo_ui.code_comment_lines | default('') | string | length > 0 %}
CODE_COMMENT_LINES = {{ forgejo_ui.code_comment_lines }}
  {% endif %}
  {% if forgejo_ui.theme_color_meta_tag | default('') | string | length > 0 %}
THEME_COLOR_META_TAG = `{{ forgejo_ui.theme_color_meta_tag }}`
  {% endif %}
  {% if forgejo_ui.max_display_file_size | default('') | string | length > 0 %}
MAX_DISPLAY_FILE_SIZE = {{ forgejo_ui.max_display_file_size }}
  {% endif %}
  {% if forgejo_ui.show_user_email | default('') | string | length > 0 %}
SHOW_USER_EMAIL = {{ forgejo_ui.show_user_email | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_ui.default_theme | default('') | string | length > 0 %}
DEFAULT_THEME = {{ forgejo_ui.default_theme }}
  {% endif %}
  {% if forgejo_ui.themes | count > 0 %}
THEMES = {{ forgejo_ui.themes | join(', ') }}
  {% endif %}
  {% if forgejo_ui.reactions | count > 0 %}
REACTIONS = {{ forgejo_ui.reactions | join(', ') }}
  {% endif %}
  {% if forgejo_ui.custom_emojis | count > 0 %}
CUSTOM_EMOJIS = {{ forgejo_ui.custom_emojis | join(', ') }}
  {% endif %}
  {% if forgejo_ui.default_show_full_name | default('') | string | length > 0 %}
DEFAULT_SHOW_FULL_NAME = {{ forgejo_ui.default_show_full_name | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_ui.search_repo_description | default('') | string | length > 0 %}
SEARCH_REPO_DESCRIPTION = {{ forgejo_ui.search_repo_description | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_ui.use_service_worker | default('') | string | length > 0 %}
USE_SERVICE_WORKER = {{ forgejo_ui.use_service_worker | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_ui.only_show_relevant_repos | default('') | string | length > 0 %}
ONLY_SHOW_RELEVANT_REPOS = {{ forgejo_ui.only_show_relevant_repos | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if forgejo_ui.admin is defined and
        forgejo_ui.admin | count > 0 %}

[ui.admin]
    {% if forgejo_ui.admin.user_paging_num | default('') | string | length > 0 %}
USER_PAGING_NUM = {{ forgejo_ui.admin.user_paging_num }}
    {% endif %}
    {% if forgejo_ui.admin.repo_paging_num | default('') | string | length > 0 %}
REPO_PAGING_NUM = {{ forgejo_ui.admin.repo_paging_num }}
    {% endif %}
    {% if forgejo_ui.admin.notice_paging_num | default('') | string | length > 0 %}
NOTICE_PAGING_NUM = {{ forgejo_ui.admin.notice_paging_num }}
    {% endif %}
    {% if forgejo_ui.admin.org_paging_num | default('') | string | length > 0 %}
ORG_PAGING_NUM = {{ forgejo_ui.admin.org_paging_num }}
    {% endif %}
  {% endif %}
  {% if forgejo_ui.user is defined and
        forgejo_ui.user | count > 0 %}

[ui.user]
    {% if forgejo_ui.user.repo_paging_num | default('') | string | length > 0 %}
REPO_PAGING_NUM = {{ forgejo_ui.user.repo_paging_num }}
    {% endif %}
  {% endif %}
  {% if forgejo_ui.meta is defined and
        forgejo_ui.meta | count > 0 %}

[ui.meta]
    {% if forgejo_ui.meta.author | default('') | string | length > 0 %}
AUTHOR = {{ forgejo_ui.meta.author }}
    {% endif %}
    {% if forgejo_ui.meta.description | default('') | string | length > 0 %}
DESCRIPTION = {{ forgejo_ui.meta.description }}
    {% endif %}
    {% if forgejo_ui.meta.keywords | count > 0 %}
KEYWORDS = {{ forgejo_ui.meta.keywords | join(', ') }}
    {% endif %}
  {% endif %}
  {% if forgejo_ui.notification is defined and
        forgejo_ui.notification | count > 0 %}

[ui.notification]
    {% if forgejo_ui.notification.min_timeout | default('') | string | length > 0 %}
MIN_TIMEOUT = {{ forgejo_ui.notification.min_timeout }}
    {% endif %}
    {% if forgejo_ui.notification.max_timeout | default('') | string | length > 0 %}
MAX_TIMEOUT = {{ forgejo_ui.notification.max_timeout }}
    {% endif %}
    {% if forgejo_ui.notification.timeout_step | default('') | string | length > 0 %}
TIMEOUT_STEP = {{ forgejo_ui.notification.timeout_step }}
    {% endif %}
    {% if forgejo_ui.notification.event_source_update_time | default('') | string | length > 0 %}
EVENT_SOURCE_UPDATE_TIME = {{ forgejo_ui.notification.event_source_update_time }}
    {% endif %}
  {% endif %}
  {% if forgejo_ui.svg is defined and
        forgejo_ui.svg | count > 0 %}

[ui.svg]
    {% if forgejo_ui.svg.enable_render | default('') | string | length > 0 %}
ENABLE_RENDER = {{ forgejo_ui.svg.enable_render | bodsch.core.config_bool(true_as='true', false_as='false') }}
    {% endif %}
  {% endif %}
  {% if forgejo_ui.csv is defined and
        forgejo_ui.csv | count > 0 %}

[ui.csv]
    {% if forgejo_ui.csv.max_file_size | default('') | string | length > 0 %}
MAX_FILE_SIZE = {{ forgejo_ui.csv.max_file_size }}
    {% endif %}
  {% endif %}
{% endif %}
