{% set values = forgejo_webhook | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}

[webhook]
  {% if values.queue_length | default('') | string | length > 0 %}
QUEUE_LENGTH = 1000
  {% endif %}
  {% if values.deliver_timeout | default('') | string | length > 0 %}
DELIVER_TIMEOUT = 5
  {% endif %}
  {% if values.allowed_host_list | default([]) | count > 0 %}
ALLOWED_HOST_LIST = {{ values.allowed_host_list | join(', ') }}
  {% endif %}
  {% if values.skip_tls_verify | default('') | string | length > 0 %}
SKIP_TLS_VERIFY = {{ values.skip_tls_verify | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if values.paging_num | default('') | string | length > 0 %}
PAGING_NUM = {{ values.paging_num }}
  {% endif %}
  {% if values.proxy_url | default('') | string | length > 0 %}
PROXY_URL = {{ values.proxy_url }}
  {% endif %}
  {% if values.proxy_hosts | default([]) | count > 0 %}
PROXY_HOSTS = {{ values.proxy_hosts | join(', ') }}
  {% endif %}
{% endif %}
