---

- name: restart forgejo
  become: true
  ansible.builtin.service:
    name: forgejo
    state: restarted
  # when:
  #   - forgejo_valid_config is defined
  #   - forgejo_valid_config.rc is defined
  #   - forgejo_valid_config.rc == 0

- name: reload forgejo
  become: true
  ansible.builtin.service:
    name: forgejo
    state: reloaded

- name: daemon-reload
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    force: true
  when:
    - ansible_facts.service_mgr | lower == "systemd"

- name: migrate forgejo database
  remote_user: "{{ forgejo_remote_user }}"
  become_user: "{{ forgejo_system_user }}"
  become: true
  bodsch.scm.forgejo_migrate:
    config: "{{ forgejo_config_dir }}/forgejo.ini"
    working_dir: "{{ forgejo_working_dir }}"

- name: "wait for '/run/forgejo/forgejo.pid'"
  ansible.builtin.wait_for:
    path: /run/forgejo/forgejo.pid
    state: present
    delay: 2
    msg: "Timeout to find /run/forgejo/forgejo.pid"
  ignore_errors: false

...
