---

forgejo_runner_main_version: "{{ forgejo_runner_version[0:3] }}"

forgejo_runner_install_path: /opt/forgejo-runner/{{ forgejo_runner_version }}

forgejo_runner_delegate_to: localhost

forgejo_runner_local_tmp_directory: "{{
  lookup('env', 'CUSTOM_LOCAL_TMP_DIRECTORY') |
  default(lookup('env', 'HOME') ~ '/.cache/ansible/forgejo-runner', true) }}/{{ forgejo_runner_version }}"

forgejo_runner_cache_directory: /var/cache/ansible/forgejo-runner

forgejo_runner_remote_tmp_directory: "{{ forgejo_runner_cache_directory }}/{{ forgejo_runner_version }}"

forgejo_runner_requirements:
  - iproute2
  - git

# https://forgejo.org/docs/latest/admin/runner-installation/#configuration
forgejo_runner_defaults_config:
  log:                                                  #
    level: info                                         # trace, debug, info, warn, error, fatal
  runner:                                               #
    file: .runner
    capacity: 1
    envs: {}
    env_file: .env
    timeout: 3h
    shutdown_timeout: 3h
    insecure: false
    fetch_timeout: 5s
    fetch_interval: 2s
    report_interval: 1s
    labels: []
  cache:                                                #
    enabled: true
    dir: ""
    host: ""
    port: 0
    external_server: ""
  container:                                            #
    network: ""
    enable_ipv6: false
    privileged: false
    options: ""
    workdir_parent: ""
    valid_volumes: []
    docker_host: "-"                                    # "-"
    force_pull: false
  host:                                                 #
    workdir_parent: ""

forgejo_runner_defaults_release:
  download_url: https://code.forgejo.org/forgejo/runner/releases
  file: forgejo-runner-{{ forgejo_runner_version }}-{{ ansible_facts.system | lower }}-{{ system_architecture }}
  checksum: forgejo-runner-{{ forgejo_runner_version }}-{{ ansible_facts.system | lower }}-{{ system_architecture }}.sha256
  binary: forgejo-runner-{{ forgejo_runner_version }}-linux-{{ system_architecture }}

# ----------------------------------------------------------------------------------------

forgejo_runner_upgrade: false

forgejo_runner_defaults_directory: /etc/default

go_arch_map:
  x86_64: 'amd64'
  aarch64: 'arm64'
  armv7l: 'armv7'
  armv6l: 'armv6'

system_architecture: "{{ go_arch_map[ansible_facts.architecture] | default(ansible_facts.architecture) }}"

systemd_lib_directory: /lib/systemd/system

...
