#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

GOMAXPROCS={{ ansible_facts.processor_vcpus | default(ansible_facts.processor_count) }}

OPTIONS="
  --config /etc/opengist/config.yml
"
