---

- name: restart forgejo-runner
  become: true
  ansible.builtin.service:
    name: forgejo-runner
    state: restarted

- name: reload forgejo-runner
  become: true
  ansible.builtin.service:
    name: forgejo-runner
    state: reloaded

- name: daemon-reload
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    force: true
  when:
    - ansible_facts.service_mgr | lower == "systemd"

...
