#jinja2: trim_blocks: True, lstrip_blocks: True
; {{ ansible_managed }}
{#
; This file lists the default values used by Gitea
;; Copy required sections to your own app.ini (default is custom/conf/app.ini)
;; and modify as needed.
;; Do not copy the whole file as-is, as it contains some invalid sections for illustrative purposes.
;; If you don't know what a setting is you should not set it.
;;
;; see https://docs.forgejo.io/en-us/config-cheat-sheet/ for additional documentation.


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Default Configuration (non-`app.ini` configuration)
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; These values are environment-dependent but form the basis of a lot of values. They will be
;; reported as part of the default configuration when running `forgejo --help` or on start-up. The order they are emitted there is slightly different but we will list them here in the order they are set-up.
;;
;; - _`AppPath`_: This is the absolute path of the running forgejo binary.
;; - _`AppWorkPath`_: This refers to "working path" of the `forgejo` binary. It is determined by using the first set thing in the following hierarchy:
;;   - The `--work-path` flag passed to the binary
;;   - The environment variable `$GITEA_WORK_DIR`
;;   - A built-in value set at build time (see building from source)
;;   - Otherwise it defaults to the directory of the _`AppPath`_
;;   - If any of the above are relative paths then they are made absolute against
;; the directory of the _`AppPath`_
;; - _`CustomPath`_: This is the base directory for custom templates and other options.
;; It is determined by using the first set thing in the following hierarchy:
;;   - The `--custom-path` flag passed to the binary
;;   - The environment variable `$GITEA_CUSTOM`
;;   - A built-in value set at build time (see building from source)
;;   - Otherwise it defaults to _`AppWorkPath`_`/custom`
;;   - If any of the above are relative paths then they are made absolute against the
;; the directory of the _`AppWorkPath`_
;; - _`CustomConf`_: This is the path to the `app.ini` file.
;;   - The `--config` flag passed to the binary
;;   - A built-in value set at build time (see building from source)
;;   - Otherwise it defaults to _`CustomPath`_`/conf/app.ini`
;;   - If any of the above are relative paths then they are made absolute against the
;; the directory of the _`CustomPath`_
;;
;; In addition there is _`StaticRootPath`_ which can be set as a built-in at build time, but will otherwise default to _`AppWorkPath`_
#}
APP_NAME = {{ forgejo_name }}
RUN_USER = {{ forgejo_system_user }}
{% set run_mod = "prod" %}
{% if forgejo_run_mode is defined and
      forgejo_run_mode | string | length > 0 and
      forgejo_run_mode in ["test", "dev", "prod"] %}
{% set run_mod = forgejo_run_mode %}
{% endif %}
RUN_MODE = {{ run_mod }}
{% if forgejo_working_dir is defined and
      forgejo_working_dir | string | length > 0 %}
WORK_PATH = {{ forgejo_working_dir }}
{% endif %}

{% include('forgejo.d/actions.j2') %}
{% include('forgejo.d/admin.j2') %}
{% include('forgejo.d/api.j2') %}
{% include('forgejo.d/attachment.j2') %}
{% include('forgejo.d/cache.j2') %}
{% include('forgejo.d/camo.j2') %}
{% include('forgejo.d/cors.j2') %}
{% include('forgejo.d/cron.j2') %}
{% include('forgejo.d/database.j2') %}
{% include('forgejo.d/email.j2') %}
{% include('forgejo.d/federation.j2') %}
{% include('forgejo.d/git.j2') %}
{% include('forgejo.d/highlight.j2') %}
{% include('forgejo.d/i18n.j2') %}
{% include('forgejo.d/indexer.j2') %}
{% include('forgejo.d/lfs.j2') %}
{% include('forgejo.d/log.j2') %}
{% include('forgejo.d/mailer.j2') %}
{% include('forgejo.d/markdown.j2') %}
{% include('forgejo.d/markup.j2') %}
{% include('forgejo.d/metrics.j2') %}
{% include('forgejo.d/migrations.j2') %}
{% include('forgejo.d/mirror.j2') %}
{% include('forgejo.d/oauth2.j2') %}
{% include('forgejo.d/oauth2_client.j2') %}
{% include('forgejo.d/openid.j2') %}
{% include('forgejo.d/other.j2') %}
{% include('forgejo.d/packages.j2') %}
{% include('forgejo.d/picture.j2') %}
{% include('forgejo.d/project.j2') %}
{% include('forgejo.d/proxy.j2') %}
{% include('forgejo.d/queue.j2') %}
{% include('forgejo.d/repository.j2') %}
{% include('forgejo.d/security.j2') %}
{% include('forgejo.d/server.j2') %}
{% include('forgejo.d/service.j2') %}
{% include('forgejo.d/session.j2') %}
{% include('forgejo.d/ssh.j2') %}
{% include('forgejo.d/storage.j2') %}
{% include('forgejo.d/task.j2') %}
{% include('forgejo.d/time.j2') %}
{% include('forgejo.d/ui.j2') %}
{% include('forgejo.d/webhook.j2') %}

{#
;[actions]
;[admin]
;[api]
;[attachment]
;[badges]
;[cache]
;[cache.last_commit]
;[cors]
;[cron]
;[cron.archive_cleanup]
;[cron.check_repo_stats]
;[cron.cleanup_actions]
;[cron.cleanup_hook_task_table]
;[cron.cleanup_packages]
;[cron.deleted_branches_cleanup]
;[cron.delete_generated_repository_avatars]
;[cron.delete_inactive_accounts]
;[cron.delete_missing_repos]
;[cron.delete_old_actions]
;[cron.delete_old_system_notices]
;[cron.delete_repo_archives]
;[cron.gc_lfs]
;[cron.git_gc_repos]
;[cron.reinit_missing_repos]
;[cron.repo_health_check]
;[cron.resync_all_hooks]
;[cron.resync_all_sshkeys]
;[cron.sync_external_users]
;[cron.update_checker]
;[cron.update_migration_poster_id]
;[cron.update_mirrors]
;[email.incoming]
;[F3]
;[federation]
;[git.config]
;[git.timeout]
;[highlight.mapping]
;[i18n]
;[indexer]
;[lfs]
;[lfs_client]
;[log.conn]
;[log.console]
;[log.file]
;[log.%(WriterMode)]
;[mailer]
;[mailer.override_header]
;[markdown]
;[markup]
;[markup.asciidoc]
;[markup.sanitizer.1]
;[metrics]
;[migrations]
;[mirror]
;[oauth2_client]
;[openid]
;[other]
;[packages]
;[picture]
;[project]
;[proxy]
;[queue]
;[repo-archive]
;[repository]
;[repository.editor]
;[repository.issue]
;[repository.local]
;[repository.mimetype_mapping]
;[repository.pull-request]
;[repository.release]
;[repository.signing]
;[repository.upload]
;[service.explore]
;[session]
;[ssh.minimum_key_sizes]
;[storage]
;[storage.actions_artifacts]
;[storage.actions_log]
;[storage.my_minio]
;[storage.packages]
;[storage.repo-archive]
;[time]
;[ui]
;[ui.admin]
;[ui.csv]
;[ui.meta]
;[ui.notification]
;[ui.svg]
;[ui.user]
;[webhook]
#}
